---
	import BackArrow from '../components/BackArrow.astro';
	import VidWrapper from '../components/VidWrapper.astro';
	let title = 'Trip Vids';
---
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>{title}</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<style global>
			@import "../styles/global.css";
		</style>
	</head>
	<body>
		<main>
			<BackArrow href="https://frontpageastro.pages.dev"/>
			<h1>Texas Trip</h1>
			<div class="vid-div">
				<VidWrapper src="https://www.youtube.com/embed/Wy2818Jq2Nw" />
				<VidWrapper src="https://www.youtube.com/embed/Qp8EZr5hyrs" />
				<VidWrapper src="https://www.youtube.com/embed/0Tgv2y_qVNQ" />
				<VidWrapper src="https://www.youtube.com/embed/_b2oRXJPR_A" />
			</div>
		</main>
	</body>
</html>

